<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <% if(products.length) { %>
    <div>
      <h1 style="font-family: 'Courier New', Courier, monospace">
        <ul>
          <% for(var i = 0; i < products.length; i++) { %>
          <li><%= products[i].title %></li>
          <% } %>
        </ul>
      </h1>
    </div>
    <% } else { %>
    <center>
      <div>
        <h1 style="font-family: 'Courier New', Courier, monospace">
          No Products
        </h1>
      </div>
    </center>
    <% } %>
  </body>
</html>
