<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <center>
        <h1 style="font-family: 'Courier New', Courier, monospace;">SIGN UP</h1>
    </center>
   <center>
    <form action="/auth/signup" method="POST">
        <input type="email" name="email" required/>
        <input type = "password" name="password" required/>

        <button style="font-family: 'Courier New', Courier, monospace;">Sign Up</button>
    </form>
   </center>
</body>
</html>